body {
    background-image: url(../img/background.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    }

.gradient-bg {
    background-color: #005aa6;
    background-image: linear-gradient(180deg,#005aa6,#0469be)
    }

.logo {
    width: 100%;
    height: 100%;
}