.gradient-bg {
   background: linear-gradient(270deg, #0D58A6 0%, #9eafd5);
  }

.bg-top {
    background-image: url(../img/background.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    }
