<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/bootstrap.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/main.css') }}" type="text/css">
    <script src="{{ url_for('static',filename='styles/bootstrap.bundle.js') }}"></script>
    <title>Анализатор страниц</title>
</head>
<body class="text-center text-bg-dark">
    <div class="container d-flex min-vh-100 p-3 mx-auto flex-column">
      <header class="row mb-auto">
        <div>
          <h3 class="float-md-start py-1">Анализатор страниц</h3>
          <nav class="nav nav-masthead justify-content-center float-md-end">
            <a class="nav-link fs-4 py-1 px-5" aria-current="page" href="#">Главная</a>
            <a class="nav-link fs-4 py-1 px-0" href="#">Сайты</a>
          </nav>
        </div>
      </header>

      <main class="row">
        {% block main %}{% endblock %}
      </main>

      <footer class="mt-auto text-white-50">
        <p><a href="https://github.com/Midnight95/python-project-83" class="text-white">Page analyzer</a>, by <a href="https://github.com/Midnight95/" class="text-white">me</a>.</p>
      </footer>
    </div>
</body>
</html>