<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/bootstrap.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/main.css') }}" type="text/css">
    <script src="{{ url_for('static',filename='styles/bootstrap.bundle.js') }}"></script>
    <title>Анализатор страниц</title>
</head>
<body>
    <header>

    </header>
    <main>
        {% block main %}{% endblock %}
    </main>

</body>
</html>