<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/bootstrap.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/main.css') }}" type="text/css">
    <script src="{{ url_for('static',filename='styles/bootstrap.bundle.js') }}"></script>
    <title>Document</title>
</head>
<body>
  <header class="gradient-bg">
    <div style="border-bottom: 1px solid#4671D5;">
        <div class="container ">
            <div class="row row-cols-4 pt-4 p-3">
                <div class="col-3">
                    <img src="https://cache3.youla.io/files/images/720_720_out/5c/d9/5cd980142c593e495e3e0153.jpg" alt="" width="150" height="150">
                </div>
                <div class="col">
                  <ul class="list-unstyled text-light">
                    <li>График работы:</li>
                    <li>Пн-Пт 00-00;</li>
                    <li>bottomtext</li>
                  </ul>
                </div>
                <div class="col">
                  <ul class="list-unstyled text-light">
                    <li>283001, ДНР</li>
                    <li>г.о. Донецкий</li>
                    <li>г. Донецк</li>
                    <li>283001, ДНР</li>
                  </ul>
                </div>
                <div class="col text-light">
                    <p>+7(949)800-80-08</p>
                </div>
          </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg" aria-label="Main navigation">
      <div class="container p-1">
        <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link text-light" aria-current="page" href="#">Главная</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="#">Цены</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="#">Инернет-магазин</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="#">Доставка</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="#">Контакты</a>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Поиск по сайту" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Найти</button>
          </form>
        </div>
      </div>
    </nav>
  </header>


  <div class="container">
    <div class="row">
      <aside class="col-4">
        <ul>
        <div class="d-flex flex-column flex-shrink-0 p-3" style="width: 280px;">
          <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
            <span class="fs-4">Каталог</span>
          </a>
          <hr>
          <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
              <a href="#" class="nav-link active" aria-current="page">
                <svg class="bi me-2" width="16" height="16"><use xlink:href="#"></use></svg>
                Кислоти и прекурсоры
              </a>
            </li>
            <li>
              <a href="#" class="nav-link link-dark">
                <svg class="bi me-2" width="16" height="16"><use xlink:href="#"></use></svg>
                Химреактивы
              </a>
            </li>
            <li>
              <a href="#" class="nav-link link-dark">
                <svg class="bi me-2" width="16" height="16"><use xlink:href="#"></use></svg>
                Соль техническая
              </a>
            </li>
            <li>
              <a href="#" class="nav-link link-dark">
                <svg class="bi me-2" width="16" height="16"><use xlink:href="#"></use></svg>
                Продукция химического и нефтехимического производства
              </a>
            </li>
            <li>
              <a href="#" class="nav-link link-dark">
                <svg class="bi me-2" width="16" height="16"><use xlink:href="#"></use></svg>
                Огнеупоры
              </a>
            </li>
            <li>
              <a href="#" class="nav-link link-dark">
                <svg class="bi me-2" width="16" height="16"><use xlink:href="#"></use></svg>
                Строительные материалы
              </a>
            </li>
            <li>
              <a href="#" class="nav-link link-dark">
                <svg class="bi me-2" width="16" height="16"><use xlink:href=""></use></svg>
                Лесоматериалы
              </a>
            </li>
            <li>
              <a href="#" class="nav-link link-dark">
                <svg class="bi me-2" width="16" height="16"><use xlink:href="#"></use></svg>
                Продукция машиностроительной отрасли
              </a>
            </li>
            <li>
              <a href="#" class="nav-link link-dark">
                <svg class="bi me-2" width="16" height="16"><use xlink:href="#"></use></svg>
                Кровельные материалы
              </a>
            </li>
            <li>
              <a href="#" class="nav-link link-dark">
                <svg class="bi me-2" width="16" height="16"><use xlink:href="#"></use></svg>
                Спецодежда и спецобувь
              </a>
            </li>
          </ul>
        </div>
      </aside>
      <main class="col">
        <p>какое-то наполнение</p>
      </main>
    </div>
  </div>
</body>
</html>
